/* Estilos generales del cuerpo y fuentes */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #f8f8f8; /* Fondo blanco profesional */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Estilo del encabezado */
header {
  background-color: #15162B; /* Azul profundo */
  padding: 20px 0;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

/* Estilo para la navegación */
nav {
  background-color: #15162B; /* Azul profundo */
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Muestra los elementos de la lista en línea */
  justify-content: center; /* Centra horizontalmente los elementos */
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  font-size: 18px;
  margin: 0 20px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #9F8E60; /* Dorado al pasar el cursor */
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Secciones */
section {
  background-color: #fff; /* Fondo blanco */
  padding: 40px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
  margin-bottom: 20px;
}

section h2 {
  font-size: 32px;
  color: #15162B; /* Azul profundo */
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.6;
  color: #555; /* Texto gris */
}

/* Estilo para la sección de Visión y Misión */
.vision-mision {
  background-color: #f8f8f8; /* Fondo gris claro */
  text-align: center;
  padding: 40px 0;
  margin-bottom: 20px;
}

/* Estilo para la sección de Visión */
.vision {
  background-color: #15162B; /* Fondo azul profundo */
  color: #fff; /* Texto blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.vision h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

/* Estilo para la sección de Misión */
.mision {
  background-color: #9F8E60; /* Fondo dorado */
  color: #fff; /* Texto blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mision h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

.redes-sociales {
  text-align: center;
}

/* Estilo para los iconos de redes sociales */
.redes-sociales a {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  color: #9F8E60; /* Dorado */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.redes-sociales a:hover {
  color: #15162B; /* Azul profundo al pasar el cursor */
}

/* Información Adicional */
.info-adicional p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

/* Pie de página */
footer {
  background-color: #15162B; /* Azul profundo */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

/* Botón de contacto */
.cta-button {
  background-color: #9F8E60; /* Dorado */
  color: #fff; /* Texto blanco */
  padding: 12px 24px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #15162B; /* Azul profundo al pasar el cursor */
  color: #fff; /* Texto blanco */
}

.logo {
  max-width: 100px; /* Ancho máximo del logo */
  margin: 0 auto; /* Centrar horizontalmente */
  border: 5px solid #9F8E60; /* Borde azul de 5px */
  border-radius: 50%; /* Borde redondeado (para hacer un círculo) */
}

.nota-al-pie {
  max-width: 1200px; /* Ancho máximo de 100px */
  border: 10px solid #9F8E60; /* Borde azul de 5px */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilo para la sección de héroe */
.hero {
  background-image: url('imagenes/fondo2prueba.jpg'); /* Reemplaza con la URL de tu imagen */
  background-size: auto 200%; /* Ajusta el valor '150%' según tus necesidades */
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  height: 50vh; /* Esto asegura que la sección tenga el alto de la ventana visible */
}

/* Resto del estilo se mantiene igual */
.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.imagen-destacada {
  background: transparent; /* Fondo transparente (opcional) */
  text-align: center; /* Alinea el contenido al centro (opcional) */
  padding: 0; /* Elimina el espaciado alrededor de la imagen */
}

.imagen-destacada img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
}