/* Estilos generales del cuerpo y fuentes */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #f8f8f8; /* Fondo blanco profesional */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Estilo para el encabezado */
header {
  background-color: #15162B; /* Azul profundo */
  padding: 20px 0;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo para la navegación */
nav {
  background-color: #15162B; /* Azul profundo */
  text-align: center;
  padding: 10px 0;
  flex-grow: 1; /* Permite que el menú ocupe el espacio restante */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos del menú */
  align-items: center; /* Centra verticalmente los elementos del menú */
  padding: 0;
}

nav li {
  margin: 0 20px; /* Margen en los elementos del menú */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #9F8E60;
}


/* Estilo para el botón "Contáctanos" */
.contact-button {
  background-color: #9F8E60;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #15162B;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Secciones */
section {
  background-color: #fff; /* Fondo blanco */
  padding: 40px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px;
  margin-bottom: 20px;
}

section h2 {
  font-size: 32px;
  color: #15162B; /* Azul profundo */
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.6;
  color: #555; /* Texto gris */
}

/* Estilo para la sección de Visión y Misión */
.vision-mision {
  background-color: #f8f8f8; /* Fondo gris claro */
  text-align: center;
  padding: 40px 0;
  margin-bottom: 20px;
}

/* Estilo para la sección de Visión */
.vision {
  background-color: #15162B; /* Fondo azul profundo */
  color: #fff; /* Texto blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* Estilo para la sección de Visión */
.vision p {
  background-color: #15162B;
  color: #fff; /* Cambia el color del texto a blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Estilo para la sección de Misión */
.mision p {
  background-color: #9F8E60;
  color: #fff; /* Cambia el color del texto a blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.vision h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

/* Estilo para la sección de Misión */
.mision {
  background-color: #9F8E60; /* Fondo dorado */
  color: #fff; /* Texto blanco */
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mision h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

.redes-sociales {
  text-align: center;
}

/* Estilo para los iconos de redes sociales */
.redes-sociales a {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  color: #9F8E60; /* Dorado */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.redes-sociales a:hover {
  color: #15162B; /* Azul profundo al pasar el cursor */
}

/* Información Adicional */
.info-adicional p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

/* Pie de página */
footer {
  background-color: #15162B; /* Azul profundo */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

/* Botón de contacto */
.cta-button {
  background-color: #9F8E60; /* Dorado */
  color: #fff; /* Texto blanco */
  padding: 12px 24px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #15162B; /* Azul profundo al pasar el cursor */
  color: #fff; /* Texto blanco */
}

.logo {
  max-width: 100px; /* Ancho máximo del logo */
  margin: 0 auto; /* Centrar horizontalmente */
  border: 5px solid #9F8E60; /* Borde azul de 5px */
  border-radius: 50%; /* Borde redondeado (para hacer un círculo) */
}

.nota-al-pie {
  max-width: 1200px; /* Ancho máximo de 100px */
  border: 10px solid #9F8E60; /* Borde azul de 5px */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilo para la sección de héroe */
.hero {
  background-image: url('imagenes/fondoprueba.jpg');
  background-size: auto 200%;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  height: 50vh;
  /* Nueva regla para sombra de texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra suave al texto */
}

/* Efecto de superposición de color */
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de superposición semi-transparente */
  z-index: -1; /* Coloca la superposición detrás del contenido de la sección */
}

/* Resto del estilo se mantiene igual */
.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Estilo para el botón en la sección de héroe */
.hero .cta-button {
  background-color: #9F8E60;
  color: #fff;
  padding: 12px 24px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.hero .cta-button:hover {
  background-color: #15162B;
}


.imagen-destacada {
  background: transparent; /* Fondo transparente (opcional) */
  text-align: center; /* Alinea el contenido al centro (opcional) */
  padding: 0; /* Elimina el espaciado alrededor de la imagen */
}

.imagen-destacada img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
}

/* Estilo para el botón "Contáctanos" */
.contact-button {
  background-color: #9F8E60; /* Color de fondo */
  color: #fff; /* Texto en color blanco */
  padding: 10px 20px; /* Espaciado interior del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  float: right; /* Ubica el botón a la derecha */
  margin-right: 20px; /* Espacio a la derecha del botón */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease-in-out; /* Transición suave */
}

.contact-button:hover {
  background-color: #15162B; /* Cambio de color al pasar el mouse */
}
/* Estilo para el contenedor del logo y el texto "JOB U" */
.logo-container {
  display: flex;
  align-items: center;
}

/* Estilo para el logo */
.logo {
  max-width: 100px; /* Ancho máximo del logo */
  margin-right: 10px; /* Espacio entre el logo y el texto "JOB U" */
}

/* Estilo para el texto "JOB" con borde */
.job-text {
  font-size: 140px; /* Tamaño grande */
  color: #9F8E60; /* Color de relleno */
  -webkit-text-stroke: 0.8px #fff; /* Borde blanco */
  text-shadow: 2px #fff; /* Borde blanco */
  padding: 5px 10px; /* Espaciado interior */
}

/* Estilo para la letra "U" */
.u-text {
  font-size: 140px; /* Tamaño grande */
  color: #15162B; /* Color #15162B */
  -webkit-text-stroke: 0.8px #fff; /* Borde blanco */
  text-shadow: 2px #fff; /* Borde blanco */
  padding: 5px 10px; /* Espaciado interior */
}

/* Para quitar las acotaciones */
.info-adicional {
  display: none; /* Oculta la sección de acotaciones */
}

/* Para cambiar el color de los enlaces */
.footer-links ul li a {
  color: #555; /* Cambia el color a gris (#555) o al que prefieras */
  transition: color 0.3s ease-in-out;
}

.footer-links ul li a:hover {
  color: #9F8E60; /* Cambia el color al dorado (#9F8E60) al pasar el cursor */
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas (por ejemplo, smartphones) */
  /* Aquí puedes modificar tamaños de fuente, márgenes, etc. */
  nav ul {
    flex-direction: column; /* Cambia la dirección de la lista a columna */
    text-align: center; /* Centra el texto en la columna */
  }

  nav li {
    margin: 10px 0; /* Espacio entre elementos de la lista */
  }

  .contact-button {
    float: none; /* Elimina la flotación para centrar el botón */
    margin: 10px auto; /* Centra el botón horizontalmente */
  }
}